.saharian-debug-explanation {
  margin-bottom: 2em;
}

.switchexample,
label {
  position: relative;
  display: flex;
  height: 0.1875em;
  top: 0;
  padding-left: 1em;
}

.switch[aria-checked="true"]::before {
  transform: translateX(100%);
}

.switch {
  display: flex;
  padding: 1em;
  padding-left: 1.11em;
  position: relative;
  cursor: pointer;
  top: 2em;
  left: -3.9em;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2.125em;
}

.switch:hover,
.switch:focus {
  box-shadow: 0.125em 0.125em 0.125em black;
  outline: none;
}

.switch::after {
  display: block;
  content: 'off' /'';
  margin-top: 1.5em;
  margin-left: 0.3em;
}

.switch:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.17em;
  bottom: 0.19em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.checked {
  background-color: #f6b681;
  box-shadow: 0.125em 0.125em 0.125em black;
}

.checked:focus,
.checked:hover {
  background-color: #f18d3a;
  outline: none;
}

.checked::after {
  content: 'on' / '';
}

.checked:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

input:checked+.switch::after {
  content: 'on' / '';
  top: 2em;
}

input:checked+.switch::before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

input:checked+.switch {
  background-color: #F6B681;
}

input:focus+.switch,
input:hover+.switch {
  box-shadow: 0.125em 0.125em 0.125em black;
  outline: none;
}

input:checked:focus+.switch,
input:checked:hover+.switch {
  background-color: #f18d3a;
  box-shadow: 0.125em 0.125em 0.125em black;
  outline: none;
}

input {
  width: 1px;
}

.html {
  left: -4.5em !important;
}