input[type="range"],
.slider {
  -webkit-appearance: none;
  height: 0.5em;
  width: 12.5em;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 1.25em;
  margin: 0.9375em 0;
  padding: 0% !important;
  min-height: 0em !important;
  display: block;
  margin-right: 6.25em;
}

input[type="range"]:hover,
input[type="range"]:focus,
.slider:hover,
.slider:focus {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  background: #f6b681;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid hsl(0, 0%, 60%);
}

input[type="range"]::-moz-range-thumb {
  width: 1.25em;
  height: 1.25em;
  background: #f6b681;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 60%);
}

/* AGGIUNTO CSS PER LO SLIDER */

.slider-track {
  width: 200px;
  height: 10px;
  /* Increased height for a thicker track */
  background-color: white;
  /* Set the track color to white */
  position: relative;
  margin: 20px 0;
  /* More vertical space around the slider */
  border-radius: 5px;
  /* Rounded corners for the track */
  border: 1px solid #ccc;
  /* Add a light grey border to distinguish the track */
}


.slider-thumb {
  width: 20px;
  /* Larger thumb for easier grabbing */
  height: 20px;
  /* Larger thumb for easier grabbing */
  background-color: #f6b681;
  /* Peachy color like in the image */
  border-radius: 50%;
  /* Circular thumb */
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* Center the thumb on the track */
  left: 50%;
  /* Adjust this value with JavaScript to represent the slider value */
  cursor: pointer;
  /* Cursor indicates the thumb is draggable */
  border: none;
  /* No border for the thumb in the image */
}