input[type=checkbox]::before {
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 93%), #fff 30%);
}
.checkbox::before {
  width: 0.875em;
  height: 0.875em;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 93%), #fff 30%);
}

input[type=checkbox]::before {
  width: 1.1em;
  height: 1.1em;
}

input[type=checkbox], 
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.4em !important;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
}

input[type=checkbox]::before,
input[type=checkbox]::after,
.checkbox::before,
.checkbox::after {
  position: absolute;
  left: 0.4375em;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

input[type=checkbox]:checked::after,
.checked::after {
  display: block;
  width: 0.25em;
  height: 0.4em;
  border: solid #fff;
  border-width: 0 0.125em 0.125em 0;
  transform: translateY(-65%) translateX(-50%) rotate(45deg);
}

input[type=checkbox]:checked::before,
.checked::before {
  display: block;	
  border-color: #DDA374; 
  background: hsl(217, 95%, 68%); 
  background-image: linear-gradient(to bottom, #f6b681, #f18d3a);
}

input[type=checkbox]:focus::before,
.checkbox:focus::before,
input[type=checkbox]:hover::before,
.checkbox:hover::before {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  border-color: #f4a869;
  border-width: 0.1875em;
  border-radius: calc(0.2em + 0.1875em);
  box-shadow: inset 0 0 0 1px #f6b681;
}
