button, .button {
  cursor: pointer; 
  width: fit-content; 
  display: block;
  border: solid 1px #C49167;
  border-radius: 0.5em;
  color: #C49167;
  margin: 1em;
  padding: 0.75em;
  background-color: #fff ;
  font-size: 12pt;
  box-shadow: 0 1px 2px hsl(0deg 0% 80%);
}

.button:hover, button:hover, .button:focus, button:focus {
    border-color: #AC7F5A;
    background-image: linear-gradient(to bottom, #DDA374, #AC7F5A);
    box-shadow: 0px 0px 1px 1px #AC7F5A;
    color: white;
	cursor: pointer;
	outline: none;
}




