label, button, .toggleButton {
  cursor: pointer; 
  width: fit-content; 
  display: block;
  border: solid 1px #C49167;
  border-radius: 0.5em;
  color: #C49167;
  margin: 1em;
  padding: 0.75em;
  background-color: #fff ;
  box-shadow: 0 1px 2px hsl(0deg 0% 80%);
  font-size: 12pt !important;  
  white-space: nowrap;
}

label:hover, label:focus,
button:hover, button:focus,
.toggleButton:hover, .toggleButton:focus {
    cursor: pointer;
    outline: none;
    background-color: #f9f4ef;
}

input {
	width: 1px;
	margin: 0 !important;
}

.pressed {
    border: solid 1px #896548;
    background-color: white;
	box-shadow: 0 1px 2px hsl(0deg 0% 80%);
    box-shadow: inset 0 0.1875em 0.3125em #75573d;
    cursor: pointer;
    color: #896548;
    outline: none;
}
	 
.empty {}




















/*

input[type=checkbox]::before {
  width: 14px;
  height: 14px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 93%), #fff 30%);
}

input[type=checkbox] {
  display: inline-block;
  position: relative;
  padding-left: 1.4em !important;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
}

input[type=checkbox]::before,
input[type=checkbox]::after {
  position: absolute;
  left: 7px;
   top: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

input[type=checkbox]:checked::after {
  display: block;
  width: 0.25em;
  height: 0.4em;
  border: solid #fff;
  border-width: 0 0.125em 0.125em 0;
  transform: translateY(-65%) translateX(-50%) rotate(45deg);
}

input[type=checkbox]:checked::before {
  display: block;	
  border-color: #DDA374; 
  background: hsl(217, 95%, 68%); 
  background-image: linear-gradient(to bottom, #e0ac81, #AC7F5A);
}

input[type=checkbox]:focus::before,
input[type=checkbox]:hover::before {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  border-color: #eac7ab;
  border-width: 3px;
  border-radius: calc(0.2em + 3px);
  box-shadow: inset 0 0 0 1px #DDA374;
} */