.tablist {
  display: flex;
  margin: 0 0 -1px 0;
  box-shadow: 0 0 0.2em hsl(0deg 0% 72%);
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 0.2em 0.2em 0 0;
}

.tab {
  flex: 20em;
  position: relative;
  display: inline-block !important;
  outline: none;
  border: 1px solid hsl(0, 0%, 72%);
  overflow: visible;
  cursor: pointer;
  margin: 0;
  padding: 0.3em 0.5em 0.4em;
  transition: all 0.3s linear 0.1s;
  background-color: hsl(0, 0%, 87%);
  z-index: 3;
  text-align: center;
}

.tab:first-of-type {
	border-radius: 0.2em 0 0 0 !important;
}
.tab:last-of-type {
	border-radius: 0 0.2em 0 0 !important;
}

.tab:hover::before,
.tab:focus::before,
.tab.selected:before,
.tab[tabindex="0"]:before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid #f7872a; 
  content: '';
  cursor: pointer;
}

.tab.selected,
.tab[tabindex="0"] {
	background: white !important;
	border-bottom: 1px solid white !important;
}

.tabpanel {
  display: none;  
  position: relative;
  padding: 0.5em 1.1em 1em;
  border: 1px solid hsl(0, 0%, 72%);
  border-radius: 0 0.2em 0.2em 0.2em;
  box-shadow: 0 0 0.2em hsl(0, 0%, 72%);
  background: white;
  min-width: 23em;
}

.show {
  display: block;
}
