.caption, caption {
    margin-bottom: 1em;
    font-style: italic;
    margin-bottom: 1em;
    text-align: -webkit-center;	
}
caption, .caption {
	display: table-caption;
}

.table, table {
	overflow-x: auto;
	overflow-y: hidden;
	border-collapse: collapse;	
}



.th, th {
  font-weight: normal;
  padding: 0.5em;
  background-color: #ef7f22;
  color: white;
  border: 1px solid #FCE9D9;
  text-align: center;
}

th, td, .th, .td {
  display: table-cell;
}

tr, .tr {
  display: table-row;
}

.td, td, .th, th {
  padding: 0.5em;
  border: 1px solid #FCE9D9;
  min-width: 8em;
  text-align: center;
}

.thead, thead, .tbody, tbody {
  padding: 0px;
}

thead, .thead {  
	font-weight: bold;
}
thead, tbody, .thead, .tbody {
  display: table-row-group;
}

.tr:nth-child(odd),
tr:nth-child(odd) {
  background-color: #FCE9D9;
}

.tr:nth-child(even),
tr:nth-child(even) {
  background-color: white;
}

