h3 {margin-top: 0;}

label {display: block;}

.radiogroup, fieldset {   
    padding: 1em 1em 1em 1em;
    display: block;
    white-space: nowrap;   
	border: none;
}

legend {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;	
	margin-top: 0;
	padding-top: 1em;
}

.radio,
input[type="radio"] {
  border: 2px solid transparent;
  border-radius: 0.3125em;
  position: relative;
  padding: 0.125em;
  padding-left: 1.5em;				
  padding-right: 0.5em;
  cursor: default;
  outline: none;  
}

.radio { display: block;}
input[type="radio"] { margin-left: 0.4375em;  margin: 0.53em;  } 

.radio::before,
.radio::after,
input[type="radio"]::before,
input[type="radio"]::after {				
  position: absolute;
  top: 50%;
  transform: translate(-20%, -50%);
  content: '';
}

.radio::before, .radio::after {	left: 0.3125em; }

.radio::before,
input[type="radio"]::before {
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 100%;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 93%), #fff 60%);
}
.radio::before {
  width: 0.875em; 
  height: 0.875em; 
}
input[type="radio"]::before {
  width: 1.1em; 
  height: 1.1em;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 100%;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 93%), #fff 60%);
}

.radio:active::before,
input[type="radio"]:active::before {
  background-image: linear-gradient(to bottom, #f6b681, #f18d3a);
}

.checked::before,
input[type="radio"]:checked::before {
  border-color: #DDA374;
  background-image: linear-gradient(to bottom, #f6b681, #f18d3a);
}

.checked::after,
input[type="radio"]:checked::after {
  display: block;
  border: 0.2em solid #fff;
  background-color: #fff;
  border-radius: 100%;
  transform: translate(25%, -50%);
}

input[type="radio"]:checked::after {
  border: 0.23em solid #fff !important;
}


.radio:hover::before,
.radio:focus::before,
input[type="radio"]:hover::before,
input[type="radio"]:focus::before {
  border-color: #f6b681;	
  border-width: 2px;
  box-shadow: 0 0 5px #f6b681;
}
